.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: sans-serif;
  margin: 20px;
  line-height: 1.6;
}

#target-id, #target-query {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 5px;
}

.color-toggle-id {
  background-color: blue;
  color: yellow;
}

.color-toggle-query {
  background-color: darkgreen;
  color: white;
}

#main-image {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  transition: width 0.3s;
  border: 1px solid #ddd; 
}

#controls button {
  padding: 8px 15px;
  margin-right: 10px;
  border: 1px solid #898989;
  background-color: #f0f0f0;
  cursor: pointer;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;
}

.goods-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.goods-card-image {
  width: 100%;
  height: auto;
  min-height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.goods-card-price {
  color: #007bff;
  font-weight: bold;
  font-size: 1.2em;
}
